# Android Studio / Gradle
.gradle/
build/
app/build/
*.iml
.idea/
local.properties
.DS_Store


# User-specific / Temporary
temp/
artifacts/
.artifacts/
*.apk
*.aab
documentation_and_planning/

# Kotlin
.kotlin/

# Secrets
*.jks
*.keystore
google-services.json
/vigsync
rpi_script/__pycache__/
walkthrough.artifact.md
